{{model}}
<li>{{model.firstObject.instrument.quote.symbol}}</li>
<li>{{model.firstObject.quantity}}</li>
<li>{{model.firstObject.instrument.fundamentals.ceo}}</li>
<li>{{model.firstObject.instrument.quote.askPrice}}</li>
<li>{{model.firstObject.averageBuyPrice}}</li>
